<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-productFlowpacketOrders-edit" th:object="${productFlowpacketOrders}">
            <input id="uuid" name="uuid" th:field="*{uuid}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单号：</label>
				<div class="col-sm-8">
					<input id="ordersNo" name="ordersNo" th:field="*{ordersNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单手机号：</label>
				<div class="col-sm-8">
					<input id="orderMobile" name="orderMobile" th:field="*{orderMobile}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订购验证码：</label>
				<div class="col-sm-8">
					<input id="validateCode" name="validateCode" th:field="*{validateCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单状态：</label>
				<div class="col-sm-8">
					<input id="ordersStatus" name="ordersStatus" th:field="*{ordersStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订购时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品ID：</label>
				<div class="col-sm-8">
					<input id="productId" name="productId" th:field="*{productId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品名称：</label>
				<div class="col-sm-8">
					<input id="productName" name="productName" th:field="*{productName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品省份：</label>
				<div class="col-sm-8">
					<input id="productProvice" name="productProvice" th:field="*{productProvice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">推广渠道：</label>
				<div class="col-sm-8">
					<input id="extensionChannel" name="extensionChannel" th:field="*{extensionChannel}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">推广渠道类型：</label>
				<div class="col-sm-8">
					<input id="extensionChannelType" name="extensionChannelType" th:field="*{extensionChannelType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">来源：</label>
				<div class="col-sm-8">
					<input id="originUrl" name="originUrl" th:field="*{originUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">ip：</label>
				<div class="col-sm-8">
					<input id="originIp" name="originIp" th:field="*{originIp}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">回调结果：</label>
				<div class="col-sm-8">
					<input id="callbackInfo" name="callbackInfo" th:field="*{callbackInfo}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/productFlowpacketOrders";
		$("#form-productFlowpacketOrders-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-productFlowpacketOrders-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
