<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								订单号：<input type="text" name="ordersNo"/>
							</li>

							<li>
								订单手机号：<input type="text" name="orderMobile"/>
							</li>

							<li>
								订购验证码：<input type="text" name="validateCode"/>
							</li>

							<li>
								订单状态：
								<select name="ordersStatus">
									<option value="">所有</option>
									<option th:text="成功" th:value="1"></option>
									<option th:text="失败" th:value="2"></option>
								</select>
							</li>

							<li>
								产品编码：<input type="text" name="productId"/>
							</li>

							<li>
								产品名称：<input type="text" name="productName"/>
							</li>

							<li>
								产品省份：<input type="text" name="productProvice"/>
							</li>
							
							<li class="select-time">
								<label>订购时间： </label>
								<input type="text" class="datetime-input" style="width: 160px" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="datetime-input" style="width: 160px" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<!-- <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:productFlowpacketOrders:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:productFlowpacketOrders:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:productFlowpacketOrders:remove">
					<i class="fa fa-remove"></i> 删除
				</a> -->
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:productFlowpacketOrders:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:productFlowpacketOrders:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:productFlowpacketOrders:remove')}]];
        var prefix = ctx + "system/productFlowpacketOrders";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
		        sortName: "createTime",
		        sortOrder: "desc",
                modalName: "流量包产品订单",
		        escape: true,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'uuid', 
					title : '',
					visible: false
				},
				{
					field : 'extensionChannel', 
					title : '工号',
					visible: true,
				},
				{
					field : 'orderMobile', 
					title : '订单手机号',
					sortable: true
				},
				{
					field : 'validateCode', 
					title : '订购验证码',
					sortable: true
				},
				{
					field : 'ordersStatus', 
					title : '订单状态',
		            formatter: function(value, item, index) {
		                if (item.ordersStatus == '1') {
		                    return '成功';
		                }
		                else if (item.ordersStatus == '2') {
		                    return '失败';
		                }
		            }
				},
				{
					field : 'createTime', 
					title : '订购时间',
					sortable: true
				},
				{
					field : 'productId', 
					title : '产品ID',
					sortable: true
				},
				{
					field : 'productName', 
					title : '产品名称',
					sortable: true
				},
				{
					field : 'productProvice', 
					title : '产品省份',
					sortable: true
				},
				{
					field : 'originUrl', 
					title : '来源',
					visible: editFlag == 'hidden' ? false : true,
				},
				{
					field : 'originIp', 
					title : 'IP',
					visible: editFlag == 'hidden' ? false : true,
				},
				{
					field : 'ordersNo', 
					title : '订单号',
					sortable: true
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>